<div class="section scrollspy" id="escotismo">
  <div class="container">
    <div class="row">
      <div  class="col s12 l6 center">
        <h2>O Escotismo</h2>
        <p>
          O Escotismo completa a escola e a família,<br>
          respondendo às necessidades que elas não satisfazem.
        </p>
        <p>
          O Escotismo encoraja o conhecimento individual,<br>
          o desejo de descobrir e a vontade de saber.
        </p>
        <p>
          O Escotismo é aberto a todos, sem distinção de raça ou credo,<br>
          de acordo com os princípios e o método estabelecidos<br>
          pelo seu fundador, Robert Baden-Powell.
        </p>
        <p>
          É pelas actividades de tempos livres
          que o Escotismo alcança a sua finalidade educativa
          e contribui para o desenvolvimento físico,
          intelectual, afectivo, social, espiritual e do carácter dos jovens.
        </p>
        </div>
          <div  class="col s12 l6 center"><br>
            <img class="img-responsive" src="img/cross.svg" style="max-width:300px;">
          </div>
        </div>           
      </div>
    </div>
  </div>
</div>