<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<div class="navbar-fixed">
  <nav id="nav_f" class="blue darken-4" role="navigation">
    <div class="container">
      <div class="nav-wrapper">
      
        <a id="logo-container" href="#top" class="brand-logo"><img id="logo-img" class="responsive-img" src="img/logo.png"></a>
        
        <ul id="nav-mobile" class="right side-nav">
          <li><a href="#escotismo">Escotismo</a></li>
          <li><a href="#divisoes">Divisões</a></li>
          <li><a href="#contactos">Contactos</a></li>
        </ul>
        
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">reorder</i></a>
      
      </div>
    </div>
  </nav>
</div>

<div class="section scropllspy" id="index-banner">
  <div class="container" >
    <div>
      <h1 class="text_h center header cd-headline letters type">
        <span>
          <strong>Atividades</strong><br>
          Sábados às 15h00
        </span> 
      </h1>
    </div>
  </div>
</div>